html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #f6f6f6;
  font: 400 2em arial, sans-serif;
}

canvas {
  display: block;
}